.md-grid {
  max-width: 1600px; 
}

.md-nav__list-second {
  font-size: smaller; 
}

.color {
  color: #888888;
}

.md-typeset h2 {
  font-weight: bold !important;
}
.md-typeset h3 {
  font-weight: bold !important;
  text-decoration: underline;
}