.md-grid {
  max-width: 1600px; 
}

.md-nav__list-second {
  font-size: smaller; 
}

.color {
  color: #888888;
}

h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
  text-decoration: underline;
}